.bookmark-body {
    background-color: white;
    text-align: center;
    height: 60px;
    width: 350px;
    margin: auto;
    border-radius: 8px;
    position: relative;
    top: 32px;
}

.bookmark-body p {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: 10px;
}