.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.right-head img{
        width: 60px;
        height: 60px;
        border-radius: 50%;      
}
.left-head img{
        margin: 20px 0px;
        width: 200px;
}