.post-container .post-image img{
        width: 845px;
        border-radius: 8px;
        margin: 32px 0px 10px 0px;    
}
.author{
        display:flex;
        align-items: center;
}
.author img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
}
.author .author-details h4, p{
        margin: 5px 20px;
}
.author .author-details h4{
        font-size: 20px;
}

.posts p{
        margin: 0px 0px 50px 0px;
}
.posts h1{
        margin: 15px 0px;
}
.posts a{
        text-decoration: underline;
        font-weight: bold;
        color: #6047EC;
}
.author-section{
        display: flex;
        justify-content: space-between;
}
.author-section .bookmark-icon a{ 
        margin-left: 10px;
        color: black;
}

.bookmark-icon{
        cursor: pointer;
}